@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
[class*=sidebar-dark-]
{
	background-color: #315175 !important;
  font-family: 'Open Sans', sans-serif;
  color:white !important;
}
[class*=sidebar-dark] .user-panel {
  border-bottom: 1px solid #315175 !important;
 font-family: 'Open Sans', sans-serif;
 color:white !important;
}
